
<p>エピソード141[<a href="http://railscasts.com/episodes/141-paypal-basics">動画を見る</a>, <a href="http://railscasts.com/episodes/141-paypal-basics?view=asciicast">読む</a>]から何回かのエピソードで、RailsアプリケーションでのPayPalのいろいろな利用方法を紹介してきました。その中で取り上げられなかったトピックが、繰り返される支払いの処理です。今回のエピソードでは既存のアプリケーションにこの機能を組み込むときの手順を紹介します。</p>

<p>対象とするアプリケーションは、前回のエピソードで使用したラマのキスを売るサイトです。ホーム画面を以下に示します。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/772/original/E289I01.png" width="828" height="525" alt="ラマ・キスのサイト"/>
</div>

<p>ラマ・キスのアプリケーションはいくつかのプランを提供しますが、いずれも１ヶ月単位のsubscription(定期会員プラン)です。あるプランに登録するときにはクレジットカード情報を入力する必要がありますが、顧客の中にはクレジットカード情報を直接入力するよりもPayPalを介して支払いをしたいという方もいるでしょう。理由は、クレジットカードを持っていない、クレジットカードによる支払いには手数料が余分にかかる、サイトを信用できないのでクレジットカード情報を入力したいくない、などがあるでしょう。そこで潜在顧客をなるべく失わないようにするために、PayPalによる支払いのオプションも追加することにします。</p>

<h3>PayPalでテストアカウントを作成する</h3>

<p>PayPalは最初は少し取っ付きにくいかも知れません。同じようなサービスをいくつも提供していて、どれを選べばいいかがわかりにくくなっています。たとえば<a href="https://www.x.com/developers/paypal/products/recurring-payments">このページ</a>には繰り返される支払いを処理する6種類の異なる方法が表示されています。我々のサイトではすでにクレジットカードによる支払いを受け付けていて、単に代替の支払い手段としてPayPalを使用するだけなので、<a href="https://www.x.com/developers/paypal/products/express-checkout">Express Checkout</a>を選択するのがいいでしょう。</p>

<p>次に選択しなくてはいけないのが、Express Checkoutをアプリケーションに統合する方法として何を利用するかということです。<a href="http://railscasts.com/episodes/144-active-merchant-basics">エピソード144</a>では<a href="http://activemerchant.org/">Active Merchant</a>を利用しましたが、単にPayPalを統合するためだけには大げさで、繰り返しの支払いにも対応していません。繰り返しの支払いをサポートするActive Merchantのフォークもいくつかありますが、今回はActive Merchantは利用しないことにします。</p>

<p>もう一つの選択肢はPayPalのAPIと直接通信する方法です。もしこの方法を選択する場合は、作業を始める前に<a href="https://cms.paypal.com/cms_content/CA/en_US/files/developer/PP_NVPAPI_DeveloperGuide.pdf">Name-Value Pair API PDF document</a>のExpress Checkout APIについてのセクションが役に立つので一読することをお勧めします。APIと直接通信するということは、アプリケーションに外部依存関係が必要ないということですが、同時により作業が多くなることを意味します。</p>

<p>今回のエピソードで利用するソリューションは、あまり知られていないですが、Nando Vieiraによる<a href="https://github.com/fnando/paypal-recurring">PayPal-Recurring</a>というgemです。これはName-Value APIを使用し、それと通信するために使いやすいRubyインターフェースを提供します。gemのソースコードは読みやすくていねいな解説がついているので、PayPalとどのような通信をしているのかを調べる必要が出てきたとしても、ソースコードの対応する部分を読むことができます。</p>

<h3>PayPal-Recurringのインストール</h3>

<p>PayPal-Recurringは他のgemと同じようにインストールします。アプリケーションの<code>Gemfile</code>に参照情報を追加して<code>bundle</code>コマンドを実行します。</p>



``` /Gemfile
source "http://rubygems.org"

gem "rails", "3.1.1"
gem "sqlite3"

# Gems used only for assets and not required
# in production environments by default.
group :assets do
  gem "sass-rails",   "~&gt; 3.1.4"
  gem "coffee-rails", "~&gt; 3.1.1"
  gem "uglifier", "&gt;= 1.0.3"
end

gem "jquery-rails"
gem "stripe"
gem "paypal-recurring"
```



<h3>テスト用アカウントを設定する</h3>

<p>PayPal-Recurringは使用する前に設定が必要なので、新たに初期化ファイルを作成してそこに設定情報を入れます。しかしその前に、PayPalのsandboxにテスト用アカウントを設定する必要があります。すでにアカウントの登録をおこなったので、ログインして必要な2つのテストアカウントを設定します。「設定済みアカウントを作成する」をクリックすると、作成用のページに案内されます。</p> 

<p>最初に購入者用のアカウントを<code>buyer@asciicasts.com</code>というメールアドレスで作成します。アカウントの種類で「購入者」を選択し、メールアドレスの最初の部分を入力し、お試し用のお金をいくらか与えます。フォームに数字のパスワードがあるので、後ほどこのユーザでログインするときに使うためにこれをコピーしておきます。</p>

<p>販売者として<code>seller@asciicasts.com</code>を使用しますが、アカウントは「販売者」ではなく「Website Payments Pro」を選択します。販売者にお金を与える必要はありませんが、与えられた数字のパスワードはコピーしておきます。</p>

<p>購入者と販売者の両方のアカウントができて、PayPalがそれぞれにログイン用のメールアドレスを以下のように設定しました。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/773/original/E289I02.png" width="828" height="654" alt="2つのテスト用アカウントがPayPal sandboxに設定された"/>
</div>

<p>ただし、PayPal-Recurringではこの販売者のアドレスは利用しません。別のアドレスを得るために左のメニューからAPI Credentialsのリンクをクリックします。すると次のページに、利用するcredentialが表示されます。</p> 

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/774/original/E289I03.png" width="828" height="561" alt="PayPalのページに使用するcredentialが表示される"/>
</div>

<p>初期化ファイルでは、この情報を使ってPayPal-Recurringを設定します。</p>



``` /app/config/initializers/paypal.rb
PayPal::Recurring.configure do |config|
  config.sandbox = true
  config.username = "seller_1318669800_biz_api1.asciicasts.com"
  config.password = "1318669837"
  config.signature = "AFcWxV21C7fd0v3bYYYRCpSSRl31A1bAwEaPIqEwy9MooKcQYeYYQw0m"
end
```



<p>このファイルには秘密情報が含まれていて、本番稼働サーバでは同じ設定を使わないため、このファイルを<code>.gitignore</code>ファイルに追加しておきます。</p> 

<h3>アプリケーションにExpress Checkoutを追加する</h3>

<p>アプリケーションでExpress Checkoutを利用できるようにする方法はいくつかあります。チェックアウトボタンを使うか、ラジオボタンを2つ使って支払いをPayPalとクレジットカードのどちらでおこなうか選択させることもできます。今回はこれらの方法を組み合わせて使用します。最初に、新しく作成したsubscriptionビューのメールフィールドのすぐ上に次のコードを追加します。</p>



``` /app/views/subscriptions/new.html.erb

<div class="field">
  <%= radio_button_tag :pay_with, :card, true %>
  <%= label_tag :pay_with_card do %>
    <%= image_tag "visa.png" %>
    <%= image_tag "mastercard.png" %>
    <%= image_tag "discover.png" %>
    <%= image_tag "american_express.png" %>
    <%= image_tag "jcb.png" %>
  <% end %>
  <%= radio_button_tag :pay_with, :paypal %>
  <%= label_tag :pay_with_paypal do %>
    <%= image_tag "paypal.png" %>
  <% end %>
</div>
  
<div id="paypal_checkout" style="display:none">
  <%= image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif") %>
</div>

```



<p>このコードはページに2つのラジオボタンを追加します。1つ目には各種のクレジットカードの画像を付け、2つ目にはPayPalアイコンをつけます。それに加えて、PayPalのチェックアウトボタンを設定し、デフォルトではhiddenにしておきます。ユーザがPayPalを選択した場合はこのボタンを表示し、メールとクレジットカードのフィールドと送信ボタンを隠します。これはPayPalで支払いをおこなうユーザがもはやこれらを入力する必要がないからです。そのためにこれらのフィールドを、<code>id</code>を<code>billing_fields</code>に設定した<code>div</code>でラップすることにより、アプリケーションのJavaScriptがそれらを探して修正できるようにします。</p>



```/app/view/subscriptions/new.html.erb

<div id="billing_fields">
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <% if @subscription.stripe_card_token.present? %>
    
    Credit card has been provided.
  
  <% else %>
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
    </div>
  <% end %>
  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <div class="actions">
    <%= f.submit "Subscribe" %>
  </div>
</div>

```



<p>ここでフォームをリロードすると新しく設定したラジオボタンが表示されます。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/775/original/E289I05.png" width="801" height="587" alt="登録ページにPayPalとクレジットカードのラジオボタンが設定された"/>
</div>

<p>これでユーザは支払い方法をクレジットカードかPayPalから選択できるようになりました。次に、選択した支払い方法によってPayPalのチェックアウトボタンとクレジットカードフィールドを表示あるいは隠すためのCoffeeScriptコードを書きます。このアプリケーションにはすでにこのフォームに関連してCoffeeScriptコードがあり、ページのDOMの読み込みが完了したときにsetupForm関数が呼び出されるようになっています。この関数を修正して、PayPalによる支払いが選択されたときにはチェックアウトボタンを表示してクレジットカードフィールドを隠し、クレジットカードのラジオボタンがクリックされたときにはチェックアウトを隠してクレジットカードフィールドを表示するようにします。</p>
 

 
```/app/assets/javascripts/subscriptions.js.coffee
setupForm: -&gt;
  $("#pay_with_paypal").click -&gt;
    $("#paypal_checkout").show()
    $("#billing_fields").hide()
    true
    
  $("#pay_with_card").click -&gt;
    $("#paypal_checkout").hide()
    $("#billing_fields").show()
    true
        
  $("#new_subscription").submit -&gt;
    $("input[type=submit]").attr("disabled", true)
    if $("#card_number").length
      subscription.processCard()
      false
    else
      true
```      

      

<p>ページをリロードしてPayPalでの支払いを選択すると、チェックアウトボタンが表示されてクレジットカードフィールドは隠されます。クレジットカードのラジオボタンをクリックすると、フィールドが再度表示され、ボタンが隠されます。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/776/original/E289I06.png" width="801" height="384" alt="PayPalのラジオボタンを選択するとクレジットカードフィールドが隠される"/>
</div>

<p>PayPalボタンはまだ何にも関連づけられていないので、これから修正します。ボタンを、まだ作成していない<code>paypal_checkout_path</code>にリンクして、選択されたプランの<code>id</code>を渡します。これはPayPalに対してユーザがどのプランに登録するかを伝えなくてはいけないからです。</p>



``` /app/views/subscriptions/new.html.erb

<div id="paypal_checkout" style="display:none">
  &lt;%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_checkout_path(:plan_id =&gt; @subscription.plan_id) %&gt;

</div>

```



<p>routesファイルに<code>paypal_checkout_path</code>を作成し、<code>SubscriptionsController</code>に新規に作成する <code>paypal_checkout</code>アクションを指定します。</p>  

  

``` /config/routes.rb
Saas::Application.routes.draw do
  root to: "plans#index"
  resources :subscriptions
  resources :plans
  get "paypal/checkout", to: "subscriptions#paypal_checkout"
end
```



<p>新規に作成したrouteを名前付きrouteにしなかったことに注意してください。Railsは指定したパスに基づいてこれを自動的に処理してくれます。</p>

<p><code>SubscriptionsController</code>に新たに<code>paypal_checkout</code>アクションを作成します。</p>

``` /app/controllers/subscriptions_controller.rb def paypal_checkout plan = Plan.find(params[:plan_id]) ppr = PayPal::Recurring.new( return_url: new_subscription_url(:plan_id =&gt; plan.id), cancel_url: root_url, description: plan.name, amount: plan.price, currency: "USD" ) response = ppr.checkout if response.valid?redirect_to response.checkout_url else raise response.errors.inspect end end ```

<p>このアクションでは渡された<code>plan_id</code>パラメータを持ったプランを探して、新規の<code>PayPal::Recurring</code>オブジェクトを生成して新しい支払いを作成します。このオブジェクトが受け取るパラメータは、見れば意味がわかるでしょう。そしてそのオブジェクトに対して<code>checkout</code>を呼び出してPayPal APIを起動するとレスポンスが返されます。レスポンスが有効であれば、レスポンスの<code>checkout_url</code>にリダイレクトします。これはユーザがログインできるPayPalのURLです。レスポンスが無効だった場合はエラーを<code>raise</code>して、何が悪かったかをチェックできるようにします。</p>

<p>新しいsubscriptionフォームでPayPalボタンをクリックすると、PayPal Sandboxサイトのログインページに導かれます。注文の概要セクションで選択したプランの名前を見ることができるので、コードはうまく動作しているようです。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/777/original/E289I07.png" width="801" height="519" alt="subscriptionのチェックアウトボタンをクリックするとPayPalのログインページが表示される"/>
</div>

<p>先に設定した購入者のテスト用アカウントの情報を使ってこのページにログインできます。これによって、処理しようとしているトランザクションを確認するためのページが表示されます。それに同意すると、アプリケーションの新しいsubscriptionページに戻されますが、URLには2つの新しいパラメータがついています。一つは<code>token</code>というもので、もう一つは<code>PayerID</code>です。PayPalでの支払いを完了するにはこれらが必要なので、<code>Subscription</code>モデルに新規フィールドを追加してそれらを保存できるようにします。<code>PayerID</code>パラメータがあったらsubscriptionの<code>payment_customer_token</code>をその値に設定し、一時的なトークンを<code>paypal_payment_token</code>として保存します。</p>



``` /app/controllers/subscriptions_controller.rb
def new
  plan = Plan.find(params[:plan_id])
  @subscription = plan.subscriptions.build
  if params[:PayerID]
    @subscription.paypal_customer_token = params[:PayerID]
    @subscription.paypal_payment_token = params[:token]
  end
end
```



<p><code>paypal_payment_token</code>は一時的なものにすぎないので、仮の属性として<code>Subscription</code>モデルに追加します。</p>


```/app/models/subscription.rb attr_accessor :stripe_card_token, :paypal_payment_token ``` 

<code>もう一つのパラメータのpayment_customer_tokenはより永続的なものなので、subscriptionsテーブルに保存します。新しいフィールドを追加するためのmigrationを作成し、rake db:migrateを実行してデータベースへの追加をおこないます。この対応をおこなっている間に、この処理の一環としてPayPalから与えられて後で保存する必要があるもう一つのトークンがあります。これもpaypal_recurring_profile_tokenとして今保存しておきます。</code> 

``` terminal $ rails g migration add_paypal_to_subscriptions paypal_customer_token:string paypal_recurring_profile_token:string ```

<p>新しいsubscriptionページを見ると<code>paypal_customer_token</code>と<code>paypal_payment_token</code>の2つのフィールドがsubscriptionオブジェクトに保存されていますが、これらは新しいsubscriptionを作成するためにフォームでPOST送信される必要があります。新たに2つのhiddenフィールドをフォームに追加してこれらの値を保存し、フォームが送信されたときにそれらが送られるようにします。</p>



``` /app/views/subscriptions/new.html.erb
<%= f.hidden_field :paypal_customer_token %>
<%= f.hidden_field :paypal_payment_token %>
```



<p>ユーザがPayPalにログインしたあとにsubscriptionフォームに戻ると、クレジットカードフィールドが再度ページに表示されます。ビューのコードには、Stripeの支払いが済んでいたらこれらのフィールドを隠すロジックがすでに組み込まれているので、これを拡張してPayPalトークンが存在するかどうかもチェックすることにします。</p>



``` /app/views/subscriptions/new.html.erb
<% if @subscription.stripe_card_token.present? ||
      @subscription.paypal_payment_token.present? %>
  Payment has been provided. Click &amp;ldquo;Subscribe&amp;rdquo; to complete the subscription.
<% else %>
  <!-- Credit card fields omitted. -->
<% end %>

```



<p>ページをリロードすると、クレジットカードフィールドは隠されています。しかし支払い方法のフィールドの方は、ユーザがPayPalで支払うことがすでにわかっているのに、まだ表示されていています。同じ方法でチェックしてこれらを隠すことができますが、その前にロジックをモデルに移動してコードを少し整理します。subscriptionモデルに新たに<code>payment_provided?</code>メソッドを作成し、ビューでそれを使用してこれらのフィールドを表示するかどうかを決定するようにします。</p>

``` /app/models/subscription.rb def payment_provided?stripe_card_token.present?|| paypal_payment_token.present?end ```

<p>同じくこのメソッドを使って、支払いが済んでいたら支払いオプションを隠します。</p>



``` /app/views/subscriptions/new.html.erb

<% unless payment_provided? %>
<div class="field">
  <%= radio_button_tag :pay_with, :card, true %>
  <%= label_tag :pay_with_card do %>
    <%= image_tag "visa.png" %>
   <%= image_tag "mastercard.png" %>
    <%= image_tag "discover.png" %>
    <%= image_tag "american_express.png" %>
    <%= image_tag "jcb.png" %>
  <% end %>
  <%= radio_button_tag :pay_with, :paypal %>
  <%= label_tag :pay_with_paypal do %>
    <%= image_tag "paypal.png" %>
  <% end %>
</div>
<% end %>

```



<p>またクレジットカードフィールドを隠すコードもこれを使って整理します。</p>



```/app/views/subscriptions/new.html.erb
<% if @subscription.payment_provided? %>
  Payment has been provided. Click &amp;ldquo;Subscribe&amp;rdquo; to complete the subscription.
<% else %>
  <!-- Credit card fields omitted. -->
<% end %>

```



<p>再度ページをリロードすると、支払い方法を選択する部分は隠されていて、あとはメールアドレスを入力して「subscribe」をクリックすればsubscriptionが完了するという状態です。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/778/original/E289I08.png" width="800" height="374" alt="支払いが完了すると、フォームの支払い方法を選択する部分が隠される"/>
</div>

<p>実はユーザはメールアドレスも入力する必要はありません。返された一時的トークンを使えば、PayPalにログインするときに入力した情報からチェックアウト時に必要な情報、つまりメールアドレスを取得することができます。</p>



``` /app/controllers/subscriptions_controller.rb
def new
  plan = Plan.find(params[:plan_id])
  @subscription = plan.subscriptions.build
  if params[:PayerID]
    @subscription.paypal_customer_token = params[:PayerID]
    @subscription.paypal_payment_token = params[:token]
    @subscription.email = PayPal::Recurring.new(token: params[:token]).checkout_details.email
  end
end
```



<p>subscriptionフォームが、PayPalサイトから戻ってページが読み込まれるときにPayPalにリクエストを送信して、ログイン時に使用したメールアドレスを取得します。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/779/original/E289I09.png" width="800" height="374" alt="メールアドレスはPayPalに登録したアドレスが自動入力される	"/>
</div>

<p>最後は、ユーザがsubscribeをクリックしたときの支払い処理の扱いです。ここまでで実際の支払いはまだ発生していません。ユーザが支払いを承認しましたが、我々のところにはまだお金は届いていません。Subscriptionモデル内にはすでにStripeを介してクレジットカードによる支払いを処理する<code>save_with_payment</code>メソッドがあります。このメソッドを修正して、PayPalによる支払いも処理するようにします。<code>save_with_payment</code>のコードはStripe専用になっているので名前を<code>save_with_stripe_payment</code>に変更します。その上で新規に、<code>save_with_stripe_payment</code>メソッドかあるいは新規に作る<code>save_with_paypal_payment</code>メソッドのいずれかを呼び出す、より汎用的な<code>save_with_payment</code>メソッドを作成します。</p>

``` /app/models/subscription.rb def save_with_payment if valid?if paypal_payment_token.present?save_with_paypal_payment else save_with_stripe_payment end end end ```

<p>次にこの<code>save_with_paypal_payment</code>メソッドを新規に作成します。繰り返しの支払いをおこなうためには2つのことが発生する必要があります。最初の支払いをリクエストし、そして繰り返しのプロフィールを作成して支払いが毎月おこなわれるようにします。最初の支払いをリクエストするコードは次のようになります。</p>

``` /app/models/subscription.rb def save_with_paypal_payment ppr = PayPal::Recurring.new( token: paypal_payment_token, payer_id: paypal_customer_token, description: plan.name, amount: plan.price, currency: "USD" ) response = ppr.request_payment if response.errors.present?raise response.errors.inspect end # 2. Make recurring profile end ```

<p>このコードは新規に<code>PayPal::Recurring</code>オブジェクトを生成し、<code>token</code>や<code>payer_id</code>のような情報を渡して、支払いをリクエストします。これは<code>SubscriptionsController</code>にある<code>paypal_checkout</code>メソッドのコードに似ています。PayPalに渡される情報、特に<code>description</code>と<code>amount</code>が一致するということが重要です。そこでそれを専用のモデルに抽出することで<code>PayPal::Recurring</code>オブジェクトが複数のモデルやコントローラに散らばらないようにします。</p>

<h3>PaypalPaymentクラスへのリファクタリング</h3>

<p><code>PayPal::Recurring</code>オブジェクトを生成するコードをリファクタリングして、<code>app/models</code>の下に新しく置く<code>PaypalPayment</code>クラスに移動させます。新たにActiveRecordモデルを作成しないので、このクラスは<code>/lib</code>ディレクトリの下に入ると思われるかも知れませんが、モデルは常にActiveRecordから継承しなくてはいけないわけではありません。もしクラスがアプリケーション固有の情報を表している場合、そして今回のクラスはほとんど<code>Subscription</code>とやり取りするだけなのでそれに該当しますが、ここに置くのがもっとも適しています。処理の対象であるsubscriptionオブジェクトを<code>initialize</code>メソッドに渡してインスタンス変数に割り当てます。</p>



``` /app/models/paypal_payment.rb
class PaypalPayment
  def initialize(subscription)
    @subscription = subscription
  end
end
```



<p>ではリファクタリングを始めます。これが終わったときには、コードは今よりもずっときれいになってほとんどのPayPal固有のロジックは新規に作成する<code>PaypalPayment</code>クラスに入るはずです。</p> 

<p>まず最初に、<code>Subscription</code>モデルの<code>save_with_paypal_payment</code>メソッドのコードを、<code>PaypalPayment</code>クラス内に新規に作成する<code>make_recurring_payment</code>メソッドの中に移動します。このクラスで新規の<code>PaypalPayment</code>オブジェクトを複数回生成することになるので、これを簡略化するためにpaypal用のメソッドも作成しておきます。</p>



``` /app/models/subscription.rb
def paypal
  PaypalPayment.new(self)
end
  
def save_with_paypal_payment
  paypal.make_recurring
end
```



<p><code>save_with_paypal_payment</code>から取り除いたコードは、新規の<code>make_recurring_payment</code> メソッドの中に移します。</p>

``` /app/models/paypal_payment.rb def make_recurring ppr = PayPal::Recurring.new( token: @subscription.paypal_payment_token, payer_id: @subscription.paypal_customer_token, description: @subscription.plan.name, amount: @subscription.plan.price, currency: "USD" ) response = ppr.prequest_payment if response.errors.present?raise response.errors.inspect end # 2. Make recurring profile end ```

<p><code>Subscription</code>クラス内にいないため、トークンとプランを<code>@subscription</code>インスタンス変数から取得しなくてはいけないことに注意してください。</p>

<p><code>PayPal::Recurring</code>の呼び出しはすべて、<code>SubscriptionController</code>から抽出して新しい<code>PaypalPayment</code>クラスに移動します。まず最初に<code>new</code>アクションのこの行、</p>



``` /app/controllers/subscription_controller.rb
@subscription.email = PayPal::Recurring.new(token: params[:token]).checkout_details.email
```



<p>を以下と置き換えます。</p>



``` /app/controllers/subscription_controller.rb
@subscription.email = @subscription.paypal.checkout_details.email
```



<p>これで、トークンを<code>params</code>からではなく、<code>subscription</code>オブジェクトから取得するようになりました。次に<code>checkout_details</code>メソッドを書きます。</p>



`` /app/models/paypal_payment.rb
def checkout_details
  PayPal::Recurring.new(token: @subscription.paypal_payment_token).checkout_details
end
```



<p>すでに<code>PaypalPayment</code>クラス内のメソッド間で重複部分が見られますが、これをリファクタリングする前にすべてをまずここに集めて、それから整理することにします。次に取り組むコードはSubscriptionsControllerのpaypal_checkoutメソッドです。</p>

``` /app/controllers/subscriptions_controller.rb def paypal_checkout plan = Plan.find(params[:plan_id]) ppr = PayPal::Recurring.new( return_url: new_subscription_url(:plan_id =&gt; plan.id), cancel_url: root_url, description: plan.name, amount: plan.price, currency: "USD" ) response = ppr.checkout if response.valid?redirect_to response.checkout_url else raise response.errors.inspect end end ```

<p>このコードのほとんどを<code>PaypalPayment</code>クラスに抽出することができますが、<code>subscription</code>を渡さなくてはいけないので、<code>plan</code>から新たに作成します。新たに作成するメソッドから取得する情報はチェックアウト用URLだけなので、名前を<code>checkout_url</code>にします。</p>

<p>上のコードの中にはモデル層からはアクセスできない情報がいくつかあります。具体的には<code>new_subscription_url</code>と<code>root_url</code>です。これらをコントローラからのパラメータとして<code>options</code>ハッシュで渡します。</p>



```/app/controllers/subscriptions_controller.rb
def paypal_checkout
  plan = Plan.find(params[:plan_id])
  subscription = plan.subscriptions.build
  redirect_to subscription.paypal.checkout_url(
    return_url: new_subscription_url(:plan_id =&gt; plan.id),
    cancel_url: root_url)
end
```



<p>新しい<code>checkout_url</code>モデルは以下のようになります。</p>

``` /app/models/paypal_payment.rb def checkout_url(options) ppr = PayPal::Recurring.new( description: plan.name, amount: plan.price, currency: "USD" ).merge(options) response = ppr.checkout if response.valid?redirect_to response.checkout_url else raise response.errors.inspect end end ```

<h3>Paypal Paymentクラスを整理する</h3>

<p>PayPal関連のコードをすべて<code>PaypalPayment</code>クラスに移しましたが、3つの主要なメソッド間ではかなりの重複があります。これを整理するために、クラス内に新規にprivateの<code>process</code>メソッドを作成します。このメソッドは、引数として<code>PayPal::Recurring</code>オブジェクトから呼び出したいメソッドとオプションのハッシュをとり、<code>response</code>オブジェクトを返します。このオブジェクトから必要に応じてメソッドを呼び出すことができます。これによってクラス内の重複の大部分を排除できます。この作業が終わると<code>PaypalPayment</code>クラスは次のようになります。</p>

``` /app/models/paypal_payment.rb class PaypalPayment def initialize(subscription) @subscription = subscription end def checkout_details process :checkout_details end def checkout_url(options) process(:checkout, options).checkout_url end def make_recurring process :request_payment # 2. Make recurring profile end private def process(action, options = {}) options = options.reverse_merge( token: @subscription.paypal_payment_token, payer_id: @subscription.paypal_customer_token, description: @subscription.plan.name, amount: @subscription.plan.price, currency: "USD" ) response = PayPal::Recurring.new(options).send(action) raise response.errors.inspect if response.errors.present?response end end ```

<p>PayPalの処理のいくつかに関して必要以上の情報を渡していますが、PayPal-Recurring gemが要らない情報をフィルタリングしてくれるので問題ありません。</p>  

<h3>make_recurringメソッドを完成させる</h3>

<p>リファクタリングが終わったので、再度<code>make_recurring</code>メソッドに集中して、繰り返しのプロファイルを作成するためのコードを書かなくてはいけません。リファクタリングをおこなったおかけでこの作業は簡単です。必要なのは、<code>process</code>を呼び出してアクションとして<code>create_recurring_profile</code>を、支払いの頻度を定義するいくつかのオプションと一緒に渡すだけです。</p>



``` /app/models/paypal_payment.rb
def make_recurring
  process :request_payment
  process :create_recurring_profile, period: :monthly, frequency: 1, start_at: Time.zone.now
end
```



<p>PayPal-Recurringにどのようなオプションを渡して何をできるかについて興味があるなら、 <a href="https://github.com/fnando/paypal-recurring/blob/master/lib/paypal/recurring/request.rb">関連するソースコードファイル</a>を見て調べることができます。各オプションがリストになっていて、PayPal Name-Value Pair APIの対応するオプションがわかるように関連づけられています。</p> 

<p>まだSubscriptionモデルの<code>save_with_paypal</code>メソッドで作業が残っています。recurring profileを作った後にPayPalから返される<code>profile_id</code>を保存できるようにして、完成させます。ここで呼び出される<code>make_recurring</code>メソッドは<code>profile_id</code>を含む<code>response</code>を返すので、これをデータベースに保存します。先に<code>paypal_payment_token</code>フィールド用のためのmigrationを作成したときに、合わせて<code>paypal_recurring_profile_token</code>フィールドを作ったので、この値をそこに保存できます。</p>

``` /app/models/subscription.rb def save_with_paypal_payment response = paypal.make_recurring self.paypal_recurring_profile_token = response.profile_id save!end ```

<p>繰り返しのPayPalの支払いを行うのに必要なコードがすべて完成したので、うまく動作するか試してみましょう。ホームページでI’m in Heaven”プランを選択してsubscriptionページで「PayPal」ラジオボタンをクリックすると、PayPalのサイトにリダイレクトされます。先に作ったテスト用のユーザ名とパスワードでログインできます。ログインして支払いを行うことを確認すると元のサイトにリダイレクトされてsubscriptionが完了します。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/780/original/E289I10.png" width="822" height="375" alt="PayPalの処理が終わるとsubscriptionフォームに戻され、処理が完了する"/>
</div>

<p>「Subscribe」ボタンをクリックすると、PayPalを介して新規のsubscriptionが正しく作成されます。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/781/original/E289I11.png" width="822" height="375" alt="subscriptionが正しく処理された"/>
</div>

<p>PayPalに関する今回のエピソードは以上です。通常よりも長くなってしまいましたが、これでも機能はまだ完全ではありません。プール金額が不十分な顧客やsubscriptionをキャンセルした顧客の処理も必要だからです。それらについては将来のエピソードでカバーするかもしれません。</p>