<p>Page caching is one of the most efficient forms of caching in a Rails app. Once a page has been cached future requests don&rsquo;t need to hit the application at all as the entire content of the page is cached into a file which is then served by a front-end web server. To demonstrate this we&rsquo;re going to add page caching to a page that displays a list of products.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/970/original/E089RI01.png" width="800" height="433" alt="The page that shows the list of products."/>
</div>

<p>Caching is turned off by default in the development environment so if we want to experiment with it we first need to enable it in the development config file by setting <code>perform_caching</code> to <code>true</code>.</p>

``` /config/environments/development.rb
config.action_controller.perform_caching = true
```

<p>We&rsquo;ll need to restart the server for this change to take effect.</p>

<p>Now we can add page caching to the actions we want to cache. This is easy to do, we just need to modify the <code>ProductsController</code> so that it calls <code>caches_page</code> and specify the actions that we want to cache, in this case <code>index</code> and <code>show</code>.</p>

``` /app/controllers/products_controller.rb
class ProductsController < ApplicationController
  caches_page :index, :show
  def index
    @products = Product.page(params[:page]).per_page(10)
  end

  def show
    @product = Product.find(params[:id])
  end

  # Other actions omitted.
end
```

<p>The first time we reload the products page now it will be served by the app and also written to a file. Each subsequent reload the page will be served from the cache file and this also applies to the page for a single product.</p>

<p>By default the files are cached in the application&rsquo;s <code>/public</code> directory. If we look in there we&rsquo;ll see a <code>products.html</code> file that contains the full response for the <code>/products</code> page while in a <code>products</code> directory we&rsquo;ll find a file called <code>1.html</code> which contains the response for the single product we&rsquo;ve viewed.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/971/original/E089RI02.png" width="799" height="247" alt="The cache files are stored under the app&rsquo;s public directory."/>
</div>

<p>This public directory is set up to serve static files by a front-end web server such as Apache or Nginx so these responses will be nice and fast.</p>

<h3>Handling Parameters</h3>

<p>One issue we may have when using caching like this is that any URL parameters we pass to the page are ignored. We have pagination on our <code>index</code> page but if we try to visit any other page of products but the first we&rsquo;ll see the first page again, even though the page parameter is now set to <code>2</code>.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/972/original/E089RI03.png" width="800" height="433" alt="The first page of products is shown even when we try to view the second."/>
</div>

<p>To get around this we&rsquo;ll need to include the page as part of the URL path instead of as a query parameter so that the URL for these pages is of the form <code>http://localhost:3000/products/page/&lt;page_number&gt;</code>. We&rsquo;ll make this change by adding a new route at the top of the routes file so that all routes that match this URL path are routed to the <code>ProductsController</code>&rsquo;s <code>index</code> action.</p>

``` /config/routes.rb
Store::Application.routes.draw do
  get 'products/page/:page', to: 'products#index'
  root to: 'products#index'
  resources :products
end
```

<p>It&rsquo;s important that this route is above <code>resources :products</code> so that it takes precedence for these URLs. We&rsquo;ll also need to remove the <code>public/products.html</code> file so that a new one is generated with the proper URLs embedded in it for the other pages. When we visit the products page now and click one of the pagination links the correct page is shown and each individual page is cached separately.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/973/original/E089RI04.png" width="800" height="449" alt="The correct page of products is now shown."/>
</div>

<h3>Cache Expiration</h3>

<p>If the dynamic content of the cache changes, let&rsquo;s say that we rename one of the products, we&rsquo;ll need to flush the cache other wise this change won&rsquo;t be shown. One way to expire a cache is to do it in the controller when the product changes. We&rsquo;ll modify the <code>update</code> action so that the cache is expired when the product is saved. We do this by calling <code>expire_page</code> and we can pass this either a hash of options, like we would to <code>url_for</code>, or a path. We&rsquo;ll use a path.</p>

``` /app/controllers/products_controller.rb
def update
  @product = Product.find(params[:id])
  if @product.update_attributes(params[:product])
    expire_page products_path
    expire_page product_path(@product)
    redirect_to products_url, notice: "Successfully updated product."
  else
    render :edit
  end
end
```

<p>This will expire both the index and show pages. If we edit &ldquo;Settlers of Catan&rdquo; and change it to &ldquo;Settlers of Catan 2&rdquo; the cache will be expired and we&rsquo;ll see the new name on the index page.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/974/original/E089RI05.png" width="800" height="449" alt="The cache is expired but the flash message shows each time."/>
</div>

<p>The page for that product will also be updated when we visit it so both caches have been successfully flushed. We still have a few issues with this, however. If we refresh the index page the flash message is still visible as it&rsquo;s included in the new version of the cached page. No matter how many times we reload this page this message will still show. We&rsquo;ll discuss a way of fixing this later. Another issue is that there are a few caches lying around that weren&rsquo;t flushed, for example the pagination pages. If we visit the first page of products with the page id specified in the URL we&rsquo;ll still see the product&rsquo;s old name as the URL doesn&rsquo;t match the simple <code>/products</code> URL whose cache we have expired.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/975/original/E089RI06.png" width="800" height="449" alt="The old product is still visible on the first page of products."/>
</div>

<p>The root URL for this application also points to the products index page and this page won&rsquo;t have been flushed either. We need to be careful to expire the cache for every URL that can show a product. For the pagination pages this can be difficult as we can&rsquo;t know for sure which page a product will be on and these pages are all cached separately. In this case its easier to remove every file in the directory and we can use <code>FileUtils.rm_rf</code> to do this. We use the <code>page_cache_directory</code> variable to determine where the cache is as this directory is configurable.</p>

``` /app/controllers/products_controller.rb
def update
  @product = Product.find(params[:id])
  if @product.update_attributes(params[:product])
    expire_page products_path
    expire_page product_path(@product)
    expire_page "/"
    FileUtils.rm_rf "#{page_cache_directory}/products/page"
    redirect_to products_url, notice: "Successfully updated product."
  else
    render :edit
  end
end
```

<p>Now when we update a product all the relevant pages&rsquo; caches are flushed.</p>

<h3>Expiring Caches via a Sweeper</h3>

<p>We need to flush the cache in the <code>create</code> and <code>destroy</code> actions as these also change products. Instead of scattering the same few lines throughout the controller it&rsquo;s better to move this code out into a sweeper. We&rsquo;ll create a new sweeper and place it in a new <code>/app/sweepers</code> directory.</p>

``` /app/sweepers/products_sweeper.rb
class ProductSweeper < ActionController::Caching::Sweeper
  observe Product
  
  def after_update(product)
    expire_page products_path
    expire_page product_path(product)
    expire_page "/"
    FileUtils.rm_fr "#{page_cache_directory}/products/page"
  end    
end
```

<p>A sweeper class needs to inherit from <code>ActionController::Caching::Sweeper</code>. To use it we <code>observe</code> a particular model and override various callback methods which are fired when an instance of that model changes. We&rsquo;ve used <code>after_update</code> here and we sweep the cache in it. The code inside this method is the same as we&rsquo;ve used in the method with just the <code>@product</code> instance variable being replaced with the product variable that&rsquo;s passed to the method. We want this behaviour to be applied when a product is created or destroyed, too so we&rsquo;ll rename our method to sweep and use <code>alias_method</code> so that it&rsquo;s fired when a product is created, updated or destroyed.</p>

``` /app/sweepers/products_sweeper.rb
class ProductSweeper < ActionController::Caching::Sweeper
  observe Product
  
  def sweep(product)
    expire_page products_path
    expire_page product_path(product)
    expire_page "/"
    FileUtils.rm_rf "#{page_cache_directory}/products/page"
  end   
  
  alias_method :after_update, :sweep 
  alias_method :after_create, :sweep 
  alias_method :after_destroy, :sweep 
end
```

<p>We&rsquo;ll need to call <code>cache_sweeper</code> in the controller so that our sweeper is fired when a product is created, updated or destroyed. We can now also remove the cache expiry code from the controller.</p>

```` /app/controllers/products_controller.rb
class ProductsController < ApplicationController
  caches_page :index, :show
  cache_sweeper :product_sweeper

  # Other methods omitted.

  def update
    @product = Product.find(params[:id])
    if @product.update_attributes(params[:product])
      redirect_to products_url, notice: "Successfully updated product."
    else
      render :edit
    end
  end
end
```

<p>We&rsquo;ll have to restart the server for the sweeper to be picked up. Once we have we can update a product and all of the relevant pages will have their caches expired.</p>

<h3>Fixing The Flash Mesage</h3>

<p>There&rsquo;s one more issue we still need to fix. When we update a product the flash message is stored in the cached version of the index page as so it&rsquo;s shown every time we visit the products page afterwards, whether we&rsquo;re updating a product or not. The flash messages are created in the application&rsquo;s layout file and we need a way to hide these when we&rsquo;re caching the page.</p> 

``` /app/views/layouts/application.html.erb
<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= yield %>
      <div class="clear"></div>
    </div>
  </body>
</html>
```

<p>Unfortunately there seems to be no way to detect whether or not page caching is enabled so what we&rsquo;ll do is add a <code>before_filter</code> to the <code>ProductsController</code> that sets an instance variable for the actions that cache their output so that we can detect this in the layout file.</p>

```/app/controllers/products_controller.rb
before_filter(only: [:index, :show]) { @page_caching = true }
```

<p>We&rsquo;ll use this variable to hide the flash message (and also the <code>csrf_meta_tag</code>) from the page when its value is <code>true</code>.</p>

``` /app/views/layouts/application.html.erb
<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag unless @page_caching %>
  </head>
  <body>
    <div id="container">
	  <% unless @page_caching %>
		<% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
	   <% end %>
        <%= yield %>
      <div class="clear"></div>
    </div>
  </body>
</html>
```

<p>If we update a product now no flash message is shown and there&rsquo;s no <code>csrf_meta_tag</code> in the source. There are now both successfully hidden on pages that are cached.</p> 

<p>There may be times when we do want to include some dynamic user-specific content on a page that&rsquo;s cached, such as a flash message or a logged-in user&rsquo;s status. This is possible with JavaScript and there&rsquo;s more information about this in <a href="http://railscasts.com/episodes/169-dynamic-page-caching">episode 169</a>, although this episode may be revised soon.</p>
