<p>例えばたくさんの商品を管理する簡単なアプリケーションがあって、それぞれの商品がある分類に属しているとします。このアプリケーションに商品を追加するためのフォームが下の画面で、新しい商品の分類を選択するためのドロップダウンリストがあります。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/834/original/E102RI01.png" width="801" height="401" alt="商品を新規登録するページ"/>
</div>

<p>このアプローチは、分類の数が少ないときは機能しますが、選択肢が増えるとドロップダウンリストはとたんに煩わしくなります。今回のエピソードでは、このドロップダウンの代わりに、テキストフィールドを用いてユーザが分類名を入力し始めると自動補完する機能を実装します。</p>

<p>フォームを表示するテンプレートを以下に示します。<code>collection_select</code>を使用して、関連の分類のドロップダウンを生成しています。</p> 

``` /app/views/products/_form.html.erb
<%= form_for(@product) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
```

<p><code>collection_select</code>をテキストフィールドに置き換えて名前を<code>category_name</code>とし、ユーザはそこに分類をタイプ入力することにします。</p>

``` /app/views/products/_form.html.erb
<div class="field">
  <%= f.label :category_name %><br />
  <%= f.text_field :category_name %>
</div>
```

<p>フォームをリロードすると、<code>Product</code>モデルには<code>category_name</code>という属性はないのでエラーメッセージが表示されます。これを解決するために仮の属性(virtual attribute)を作成します。</p>

``` /app/models/product.rb
class Product < ActiveRecord::Base
  belongs_to :category
  
  def category_name
    category.try(:name)
  end
  
  def category_name=(name)
    self.category = Category.find_by_name(name) if name.present?
  end
end
```

<p><code>category_name</code>用のgetterとsetterメソッドを作成しました。getterは関連する<code>Category</code>の名前を返します(ただし関連する分類がなかった場合には<code>nil</code>を返すように<code>try</code>を使っていることに注意してください)。setterは、<code>name</code>が存在する場合は一致する名前の<code>Category</code>にその商品の<code>category</code>を設定します。</p> 

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/835/original/E102RI02.png" width="801" height="401" alt="新規の商品を追加する"/>
</div>

<p>フォームをリロードすると、category name(分類名)フィールドがあり、存在するカテゴリとともに商品を追加すると、カテゴリの関連の組み合わせとともに商品がデータベースに追加されます。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/836/original/E102RI03.png" width="801" height="536" alt="商品が正しく追加される"/>
</div>

<p>しかし、誰かが新規のカテゴリで商品を作成したらどうなるでしょうか。このような場合には商品が作成されると同時に、新規のカテゴリも作成されれば便利でしょう。Railsではこれを簡単に実現できます。必要な作業は、setterの<code>find_by_name</code>を<code>find_or_create_by_name</code>に置き換えるだけです。</p>

``` /app/models/product.rb
def category_name=(name)
  self.category = Category.find_or_create_by_name(name) if name.present?
end
```

<p>これで、新規のカテゴリの商品を追加したときにはカテゴリも同時に作成されるようになりました。</p>

<h3>自動補完機能を追加する</h3>

<p>本来の目的は自動補完機能を付加することでした。それによって、ユーザがカテゴリのフィールドに文字を入力すると、それに一致するカテゴリが表示されるようにします。Rails 3.1アプリケーションでこれを実現する一番簡単な方法は、<a href="http://jqueryui.com/demos/autocomplete/">Autocomplete widget</a>に含まれるjQuery UIを用いる方法で、今回はこのアプローチをとります。</p>

<p>JQuery UIはRails 3.1アプリケーションではすでに利用可能で、<code>application.js</code>マニフェストファイルでrequireするだけです。</p>

``` /app/assets/javascripts/application.js
// This is a manifest file that'll be compiled into including all the files listed below.
// Add new JavaScript/Coffee code in separate files in this directory and they'll automatically
// be included in the compiled file accessible from http://example.com/assets/application.js
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
//= require jquery
//= require jquery-ui
//= require jquery_ujs
//= require_tree .
```

<p>products.js.coffeeファイルに自動補完機能を追加します。</p>

``` /app/assets/javascripts/products.js.coffee
jQuery ->
  $('#product_category_name').autocomplete
    source: ['foo', 'food', 'four']
```    

<p>このコードではまずDOMがロードされたかどうかをチェックし、ロードされたら分類名のフィールドを<code>id</code>で検索し<code>autocomplete</code>を呼び出します。この関数は<code>source</code>オプションをとり、これにより自動補完する候補の元を指定します。URLを渡した場合はAJAXリクエストを発行して戻された値を候補として使用します。あるいは、候補の配列を渡します。簡単に機能するようにしたいので、ここではとりあえず配列を使用しました。</p>

<p>商品の新規作成ページにアクセスして、配列中のいくつかの項目に一致する名前を入力し始めると、自動補完された候補リストが表示されます。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/837/original/E102RI04.png" width="801" height="410" alt="自動補完リストが表示される"/>
</div>

<p>自動補完リストはうまく機能しましたが、見た目はよくありません。productsのSCSSファイルに次のコードを追加して、これを改良します。</p>

``` /app/assets/stylesheets/products.css.scss
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
} 
```

<p>ページをリロードすると、リストはずっときれいになりました。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/838/original/E102RI05.png" width="801" height="410" alt="リストがきれいになった"/>
</div>

<h3>自動補完の値をデータベースから取得する</h3>

<p>リストがきれいに表示されるようになったので、その中身を配列からの値ではなく、データベースから一致するカテゴリを取得することに集中したいと思います。これを実現する方法は2つあり、ここではその両方を紹介します。</p>

<p>1つ目は、すべてをクライアント側に持っておく方法です。これは選択肢の数がそれほど多くない場合に適した方法で、今回もそのケースに該当します。カテゴリ名のテキストフィールドのデータ属性にすべての選択肢を埋め込みます。 </p>

``` /app/views/products/_form.html.erb
 <div class="field">
  <%= f.label :category_name %><br />
  <%= f.text_field :category_name, data: {autocomplete_source: Category.order(:name).map(&:name)} %>
</div>
```

<p>このために、テキストフィールドに <code>data</code>オプションを設定して(この<code>data</code>ハッシュはRails 3.1で新たに導入された機能で、データ属性を設定する便利な方法です)、カテゴリ名の配列を渡します。ページをリロードしてソースを見ると、これの結果がわかります。</p>

```
<div class="field">
  <label for="product_category_name">Category name</label><br />
  <input data-autocomplete-source="[&quot;Beverages&quot;,&quot;Board Games&quot;,&quot;Books&quot;,&quot;Breads&quot;,&quot;Canned Foods&quot;,&quot;Clothes&quot;,&quot;Computers&quot;,&quot;Dry Foods&quot;,&quot;Frozen Foods&quot;,&quot;Furniture&quot;,&quot;Headphones&quot;,&quot;Magazines&quot;,&quot;Music&quot;,&quot;Other Electronics&quot;,&quot;Pastas&quot;,&quot;Portable Devices&quot;,&quot;Produce&quot;,&quot;Snacks&quot;,&quot;Software&quot;,&quot;Televisions&quot;,&quot;Toys&quot;,&quot;Video Games&quot;,&quot;Video Players&quot;,&quot;Videos&quot;]" id="product_category_name" name="product[category_name]" size="30" type="text" />
</div>
```  

<p>テキストフィールドに<code>data-autocomplete-source</code>属性が追加され、そこにはカテゴリ名が含まれています。これらの値はJSON文字列に変換され、HTMLエスケープされています。ここで<code>autocomplete</code>のダミーデータをこの属性からのデータに置き換えます。</p>

``` /app/assets/javascripts/products.js.coffee
jQuery ->
  $('#product_category_name').autocomplete
    source: $('#product_category_name').data('autocomplete-source')
```    

<p>ページをリロードしてカテゴリ名フィールドに文字を入力すると、自動補完リストに一致するカテゴリが表示されます。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/839/original/E102RI06.png" width="801" height="410" alt="一致するカテゴリが表示される"/>
</div>

<p>これだけでクライアント側で自動補完機能を実現できました。カテゴリの数が限られる今回のような場合にはこのアプローチで十分です。しかし違う状況の場合もあるでしょう。例えば、選択肢が数百数千ありすべての候補をクライアント側に持つことが現実的ではないような場合です。このような場合には、HTMLドキュメントに値を埋め込む代わりに、AJAXリクエストを使ってサーバから自動補完候補を取得する方法の方が適しているでしょう。</p>

<p>これをおこなうためには、<code>autocomplete</code>関数に配列ではなくURLを渡します。<code>data-autocomplete-source</code>属性の中のデータをURLに置き換えます。AJAXリクエストはカテゴリのリストを返さなくてはいけないので、<code>categories_path</code>のURLを使用します。</p>

``` /app/views/products/_form.html.erb
<div class="field">
  <%= f.label :category_name %><br />
  <%= f.text_field :category_name, data: {autocomplete_source: categories_path} %>
</div>
```

<p>CategoriesControllerはまだないので、ここで作成します。</p>

``` terminal
$ rails g controller categories
```

<p>In order for the <code>categories_path</code> method to be defined we’ll modify the routes file and add a <code>categories</code> resource.</p>

``` /config/routes.rb
Store::Application.routes.draw do
  root to: 'products#index'
  resources :products
  resources :categories
end
```

<p>新しい<code>CategoriesController</code>の中に<code>index</code>アクションを書きます。これがテキストフィールドに入力された文字列に一致するカテゴリを取得し、JSONデータとして返します。</p>

``` /app/controllers/categories_controller.rb
class CategoriesController < ApplicationController
  def index
    @categories = Category.order(:name).where("name like ?", "#{params[:term]}")
    render json: @categories.map(&:name)
  end
end
```

<p>autocomplete widgetから<code>text</code>フィールドのテキスとがtermパラメータとして渡されるので、そのパラメータを用いてカテゴリにフィルタをかけます。そしてこのフィルタがかけられたリストを、名前の配列として返します。</p>

<p>ページをリロードしてカテゴリ名を入力し始めると、一致するカテゴリがサーバから取得されます。</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/840/original/E102RI07.png" width="801" height="405" alt="一致するカテゴリがサーバから取得される"/>
</div>

<p>テキストフィールド内のテキストが変わるごとにAJAXリクエストが発行されるので自動補完リストは少し遅くなりますが、ページがロードされるたびにクライアントにカテゴリの全リストを送る必要はなくなりました。</p>

<p>関連データで自動補完を使用する今回のエピソードは以上です。動作のしくみと使用できるオプションについてさらに情報が必要な場合は、<a href="http://jqueryui.com/demos/autocomplete/">ドキュメント</a>を参照することをお勧めします。例えばminLengthオプションを渡して何文字入力されたらAJAXリクエストを発行するかを指定するなどが可能です。</p> 

<p>多対多の関係において自動補完が必要な場合は、まさにそれを扱った<a href="http://railscasts.com/episodes/258-token-fields">エピソード258</a>を参照してください。</p>