<p><a href="http://documentcloud.github.com/backbone/">Backbone.js</a> is a JavaScript library which can sync model data, render views, handle events and much more. There are a number of similar libraries around such as Amber, Spine and Knockout. We may cover some of these alternatives in future episodes but here we&rsquo;re going to focus on Backbone.</p>

<p>Below is a screenshot from the application we&rsquo;ll be building over the this two-part episode. It&rsquo;s called Raffler and we use it to add names to a list then click &ldquo;Draw Winner&rdquo; to select a random winner from the names. We can do this multiple times if we want to choose multiple winners. The s app is simple but it will serve as a good example for demonstrating the concepts in Backbone.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/977/original/E323I01.png" width="800" height="604" alt="Our Raffler application."/>
</div>

<h3>Creating The Application</h3>

<p>We&rsquo;ll start by generating a brand new Rails 3.2 application that we&rsquo;ll call <code>raffler</code>.</p>

``` terminal
$ rails new raffler
$ cd raffer
```

<p>This app will need to serve a single HTML page which Backbone can change as necessary. We&rsquo;ll generate a controller called main with an <code>index</code> action to serve up that page and we&rsquo;ll use the <code>skip-javascripts</code> option to avoid confusion between Rails&rsquo; JavaScript files and Backbone&rsquo;s.</p>

``` terminal
$ rails g controller main index --skip-javascripts
```

<p>We&rsquo;ll leave the index action for now but we will change the view template, giving it a <code>div</code> with an <code>id</code> that we can use to insert views from Backbone and we&rsquo;ll put some default text in it.</p>

``` /app/views/main/index.html.erb
<div id="container">Loading...</div>
```

<p>We&rsquo;ll need to make changes to the routes file too as we want this action to be the root path.</p>

``` /config/routes.rb
Raffler::Application.routes.draw do
  root to: "main#index"
end
```

<p>Now is also a good time to remove the default index page.</p>

``` terminal
$ rm public/index.html
```

<p>When we visit our application&rsquo;s home page now we&rsquo;ll see that index page.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/978/original/E323I02.png" width="800" height="280" alt="The index page showing the placeholder text."/>
</div>


<h3>Adding Backbone</h3>

<p>Now it&rsquo;s time to add Backbone. To add it to our application we&rsquo;ll use the <a href="https://github.com/meleyal/backbone-on-rails">Backbone on Rails</a> gem. This provides some generators for providing Backbone support.  It&rsquo;s installed in the usual way by adding it to the gemfile and running <code>bundle</code>.</p>

``` /Gemfile
gem 'backbone-on-rails'
```

<p>Next we&rsquo;ll need to run a generator to install Backbone. This will add some code to our <code>application.js</code> file and create a <code>raffler.js.coffee</code> file along with some empty directories.</p>

``` terminal
$ rails g backbone:install
      insert  app/assets/javascripts/application.js
      create  app/assets/javascripts/collections
      create  app/assets/javascripts/models
      create  app/assets/javascripts/routers
      create  app/assets/javascripts/views
      create  app/assets/templates
      create  app/assets/javascripts/raffler.js.coffee
```	  

<p>If we take a look at the <code>application.js</code> file we&rsquo;ll see the changes it&rsquo;s added.</p>

``` /app/assets/javascipts/application.js
// WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
// GO AFTER THE REQUIRES BELOW.
//
//= require jquery
//= require jquery_ujs
//= require underscore
//= require backbone

//= require raffler

//= require_tree ../templates
//= require_tree ./models
//= require_tree ./collections
//= require_tree ./views
//= require_tree ./routers
//= require_tree .
```

<p>The Backbone generator has added <code>underscore</code>, which is one of Backbone&rsquo;s dependencies, <code>backbone</code> itself and out newly-generated <code>raffler</code> file. It also includes all of the directories that are generated by Backbone. Note that there&rsquo;s a warning in this file about empty lines and so we&rsquo;ll remove the two blank lines from the file above.</p>

<p>Next we&rsquo;ll take a look at the generated raffler file.</p>

``` /app/assets/javascripts/raffler.js.coffee
window.Raffler =
  Models: {}
  Collections: {}
  Views: {}
  Routers: {}
  init: -> alert 'Hello from Backbone!'

$(document).ready ->
  Raffler.init()
```

<p>This sets up a <code>Raffler</code> object to act as a namespace for containing all the Backbone-related classes and objects. It also has an <code>init</code> function for starting up our Backbone application and this is called when the document loads. We can see that our Backbone app does start up by reloading the index page.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/979/original/E323I03.png" width="800" height="280" alt="The alert shows when the Backbone application starts up."/>
</div>

<h3>Adding The Entry Resource</h3>

<p>We want our application to contain entries for a raffling contest so we&rsquo;ll need some kind of <code>entry</code> resource. To do this we can use Backbone&rsquo;s scaffold generator. This will generate various files for managing our new model.</p>

``` terminal
$ rails g backbone:scaffold entry
      create  app/assets/javascripts/models/entry.js.coffee
      create  app/assets/javascripts/collections/entries.js.coffee
      create  app/assets/javascripts/routers/entries_router.js.coffee
      create  app/assets/javascripts/views/entries
      create  app/assets/javascripts/views/entries/entries_index.js.coffee
      create  app/assets/templates/entries
      create  app/assets/templates/entries/index.jst.eco
```	  

<p>Most of the new files are blank class definitions so they don&rsquo;t do much by default but they do give our Backbone app some structure. We&rsquo;ll go through these new files one at a time and we&rsquo;ll start with the <code>routers</code> file. A Backbone router takes a URL path and maps it to a JavaScript function. We define routes inside this class in a <code>routes</code> hash.</p>

``` app/assets/javascripts/routers/entries_router.js.coffee
class Raffler.Routers.Entries extends Backbone.Router
  routes:
    '': 'index'
		
  index: ->
    alert "home page"
```	

<p>We&rsquo;ve used an empty string to specify the route path and mapped it to an <code>index</code> function. For now we&rsquo;ll just have this show an <code>alert</code>. This route won&rsquo;t work yet as we haven&rsquo;t set it up in our application. To do so we&rsquo;ll need to instantiate the router class in our application when it loads. We do this by removing the <code>alert</code> in the <code>raffler.js.coffee</code> class and instead create a new instance of <code>Raffler.Routers.Entries</code>. We also have to call <code>Backbone.history.start()</code>. This triggers the matching router for whatever is in the URL.</p>

``` /app/assets/javascripts/raffler.js.coffee
window.Raffler =
  Models: {}
  Collections: {}
  Views: {}
  Routers: {}
  init: -> 
	  new Raffler.Routers.Entries
	  Backbone.history.start()

$(document).ready ->
  Raffler.init()
```  

<p>Now when we reload the page we&rsquo;ll see the home page <code>alert</code>.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/980/original/E323I04.png" width="803" height="280" alt="The alert from the router."/>
</div>

<p>Next we&rsquo;ll try defining another route, this time for a single entry.</p>

``` app/assets/javascripts/routers/entries_router.js.coffee
class Raffler.Routers.Entries extends Backbone.Router
  routes:
    '': 'index'
    'entries/:id', 'show'
		
  index: ->
    alert "home page"

  show: (id) ->
    alert "Entry #{id}"
```	

<p>This route takes a parameter and we define this in the route by using <code>:id</code>, much as we would in a Rails route. We&rsquo;ve defined this route so that it calls a <code>show</code> function and this function takes that <code>id</code> as argument. For now we&rsquo;ll just <code>alert</code> that <code>id</code>. By default Backbone uses the anchor part of the URL as a path so to visit the page for entry <code>123</code> we&rsquo;ll need to use the URL <code>http://localhost:3000/#entries/123</code>.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/981/original/E323I05.png" width="802" height="280" alt="The alert showing on the page for a single entry."/>
</div>

<p>There are options to configure these URLs so that Backbone uses the actual path instead of an anchor but we&rsquo;ll leave this as it is for now and cover this in part two.</p>

<h3>Views</h3>

<p>Normally we want a specific route to render out a given view and this brings us to our next section. When we created our Backbone entries entity it created an <code>/app/assets/javascripts/views</code> directory and an <code>entries</code> directory under it. The generator also created a file here called <code>entries_index.js.coffee</code>.</p>

``` /app/assets/javascripts/views/entries/entries_index.js.coffee
class Raffler.Views.EntriesIndex extends Backbone.View

  template: JST['entries/index']
```  

<p>This view has a <code>template</code> option set to <code>entries/index</code>. This means that it will use the index template at <code>/app/assets/javascripts/templates/entries/index.jst.eco</code> to render out the view. This template file is where the actual HTML  code goes; the view just contains CoffeeScript. This might be a little confusing if you&rsquo;re coming from Rails as the views in Backbone behave more like controllers in Rails, setting up data for the actual template and handling events. We need to tell the view how to render the template and we do so by using a <code>render</code> function.</p> 

``` /app/assets/javascripts/views/entries/entries_index.js.coffee
class Raffler.Views.EntriesIndex extends Backbone.View

  template: JST['entries/index']
  
  render: ->
	  $(@el).html(@template())
	  this	  
```	  

<p>To render a template we call <code>@template()</code> which renders the template and returns it as a string. Each view has a dedicated HTML element that we access by calling <code>@el</code>. By using some jQuery code we can set the contents of this element to by whatever is returned by the template. Finally this function needs to return this view so that we can chain other view functions on it and to do this we return <code>this</code> (as this is CoffeeScript we could also use <code>@</code> but we&rsquo;ll  stick with <code>this</code> here).</p>

<p>We still need to instantiate this view and render it out inside the router. We&rsquo;ll replace the <code>alert</code> in the index function and create a new <code>Raffler.Views.EntriesIndex</code> view instead. We then render the view into the container element on our index page.</p>

``` /app/assets/javascripts/routers/entries_router.js.coffee
class Raffler.Routers.Entries extends Backbone.Router
  routes:
    '': 'index'
    'entries/:id': 'show'
	
  index: ->
    view = new Raffler.Views.EntriesIndex()
    $('#container').html(view.render().el)

  show: (id) ->
    alert "Entry #{id}"
```	
	
<p>This will render the <code>index.jst.eco</code> template into out container <code>div</code>. This template is currently empty so we&rsquo;ll put something in it so that we can see that it is being rendered.</p>

``` /app/assets/templates/entries/index.jst.eco
<h1>Raffler</h1>
```

<p>When we visit the home page now we&rsquo;ll see that template rendered out.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/982/original/E323I06.png" width="800" height="280" alt="The template is now rendered"/>
</div>

<h3>Rendering Dynamic Content</h3>

<p>We want to render some dynamic content in our template and as it has an <code>.eco</code> extension the <a href="https://github.com/sstephenson/eco">Eco templating engine</a> is used to render it out. This behaves similarly to Erb and uses the same <code>&lt;% %&gt;</code> tags, but the code between the tags is CoffeeScript instead of Ruby. When we render the template from the view we can pass in an object with attributes and the template will be scoped to that object context. To demonstrate this we&rsquo;ll add an <code>entries</code> attribute with some placeholder data.</p>

``` /app/assets/javascripts/views/entries/entries_index.js.coffee
class Raffler.Views.EntriesIndex extends Backbone.View

  template: JST['entries/index']
  
  render: ->
    $(@el).html(@template(entries: "Entries goes here."))
    this	  
```	
	
<p>We now have access to that attribute in the template.</p>

``` /app/assets/templates/entries/index.jst.eco
<h1>Raffler</h1>

<%= @entries %>
```

<p>When we reload the page now we&rsquo;ll see that attribute&rsquo;s value.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/983/original/E323I07.png" width="800" height="280" alt="The template now shows data from the view."/>
</div>

<h3>Displaying</h3>

<p>Instead of showing some placeholder text we want to show a list of <code>Entry</code> records and this brings us to the last two parts of our backbone application: models and collections. A model represents a single record and a model&rsquo;s file (under the <code>/app/assets/javascripts/models</code> directory) is a good place to put logic that acts on a model&rsquo;s attributes. We&rsquo;ll leave our <code>entry.js.coffeescript</code> file blank for now.</p>

<p>A collection contains multiple models and provides some conveniences for managing them. We&rsquo;ll set the <code>url</code> option on our <code>Entries</code> collection. This is the URL that it expects the server to respond to for managing this collection of records and it expects it to be a JSON REST API.</p>

``` /app/assets/javascripts/collections/entries.js.coffee
class Raffler.Collections.Entries extends Backbone.Collection
  url: '/api/entries'
```  
  
<p>When this class fetches the records it will send a GET request to this URL. Similarly when it creates a new record it will send a POST request to it. To fetch a single Entry it will send a GET request to <code>/api/entries/&lt;entry_id&gt;</code> and it will also use that URL to update an entity, with PUT, or delete it with DELETE. This means that it works in the same way that a REST interface in Rails does. Note that we&rsquo;ve mapped this under an <code>/api</code> path so that there&rsquo;s no potential conflict with the Backbone routing.</p>

<p>We&rsquo;ll need to modify our Rails application so that it responds to this URL. and we&rsquo;ll use Rails&rsquo; <code>resource</code> generator which is similar to the <code>scaffold</code> generator but without the controller actions. We&rsquo;ll give the <code>Entry</code> resource name and winner fields. We&rsquo;ll skip the JavaScript files again, too, just to avoid confusion.</p>

``` terminal
$ rails g resource entry name winner:boolean --skip-javascripts
```

<p>After this generator has run we&rsquo;ll need to add the new table to the database by running <code>rake db:migrate</code>. Next we&rsquo;ll need to modify the controller so that it responds with JSON to those RESTful actions. There are a variety of ways that we can generate the JSON but here we&rsquo;ll keep it simple and use <code>respond_to</code> and also <code>respond_with</code> in each action with the appropriate model call for each action.</p>

``` /app/controllers/entries_controller.rb
class EntriesController < ApplicationController
  respond_to :json
  
  def index
    respond_with Entry.all
  end
  
  def show
    respond_with Entry.find(params[:id])
  end
  
  def create
    respond_with Entry.create(params[:entry])
  end
  
  def update
    respond_with Entry.update(params[:id], params[:entry])
  end
  
  def destroy
    respond_with Entry.destroy(params[:id])
  end
end
```

<p>We&rsquo;ll need to change the routes file now so that the entries resources is scoped under the <code>/api</code> path.</p>

``` /config/routes.rb
Raffler::Application.routes.draw do
  scope "api" do
    resources :entries
  end

  root to: "main#index"
end
```

<p>Finally, we&rsquo;ll seed the database with some example data.</p>

``` /db/seeds.rb
Entry.create!(name: "Matz")
Entry.create!(name: "Yehuda Katz")
Entry.create!(name: "DHH")
Entry.create!(name: "Jose Valim")
Entry.create!(name: "Dr Nic")
Entry.create!(name: "John Nunemaker")
Entry.create!(name: "Aaron Patterson")
```

<p>To populate the database with this data we&rsquo;ll need to run <code>rake db:seed</code>. Now, when we visit <code>http://localhost:3000/api/entries.json</code> we&rsquo;ll see a JSON representations of those entries.</p>

``` terminal
$ curl http://localhost:3000/api/entries.json
[{"created_at":"2012-02-12T22:00:11Z","id":1,"name":"Matz","updated_at":"2012-02-12T22:00:11Z","winner":null},{"created_at":"2012-02-12T22:00:12Z","id":2,"name":"Yehuda Katz","updated_at":"2012-02-12T22:00:12Z","winner":null},{"created_at":"2012-02-12T22:00:12Z","id":3,"name":"DHH","updated_at":"2012-02-12T22:00:12Z","winner":null},{"created_at":"2012-02-12T22:00:12Z","id":4,"name":"Jose Valim","updated_at":"2012-02-12T22:00:12Z","winner":null},{"created_at":"2012-02-12T22:00:12Z","id":5,"name":"Dr Nic","updated_at":"2012-02-12T22:00:12Z","winner":null},{"created_at":"2012-02-12T22:00:12Z","id":6,"name":"John Nunemaker","updated_at":"2012-02-12T22:00:12Z","winner":null},{"created_at":"2012-02-12T22:00:12Z","id":7,"name":"Aaron Patterson","updated_at":"2012-02-12T22:00:12Z","winner":null}]
```

<p>We can get a better understanding of how models and collections work by visiting <code>http://localhost:3000/</code> and then opening up the browser&rsquo;s JavaScript console. If we create a new <code>Entries</code> collection there, its length will be zero by default.</p>

``` javascript
> entries = new Raffler.Collections.Entries()
  Entries
> entries.length
  0
``` 

<p>To fill it with data from the server we call <code>fetch</code>. This will make a JSON request and get all the entries.</p>

``` javascript
> entries.fetch()
  Object
> entries.length
  7
```  

<p>There are many methods that we can call on a collection thanks to the Underscore library and these are listed in the <a href="http://documentcloud.github.com/underscore/">documentation</a>. Many of these methods will look familiar as they are similar to Ruby methods. For example if we want to fetch a random winner we can call <code>shuffle</code> and if we call this on our collection of entries it will return them as an array in a random order.</p>

``` javascript
> entries.shuffle()
  [Object, Object, Object, Object, Object, Object, Object]
```  
<p>We&rsquo;ll get a single entry by getting the first element of the array. We can then use the <code>get</code> function to get any of the model&rsquo;s attributes.</p>

``` javascript
> entry = entries.shuffle()[0]
  Object
> entry.get(‘name’)
  "Dr Nic"  
```  
  
<p>Similarly we can set attributes with the <code>set</code> function, passing in a hash of attributes.</p>

``` javascript
> entry.set({‘winner’: true})
  Object
```  
<p>This doesn&rsquo;t save the record or submit any requests back to the Rails application. To do this we need to call <code>save</code>. This will submit a PUT request to the server.</p>

``` javascript
> entry.save()
  Object
```  
<p>If we want to create a new record we can use <code>create</code>.</p>

``` javascript
> entries.create({'name': 'Advi Grimm'})
```

<p>This will save the new record to the database by making a POST request to our Rails app.</p>

<h3>Displaying Records</h3>

<p>Back now to our Backbone app. The next thing we need to do is fetch the entry records then loop through them and display them on the index page. We&rsquo;ll need to create a new <code>Entries</code> collection and we&rsquo;ll do that in the entries router class. If we create an <code>initialize</code> function in this class it will be fired when a router is created.</p>

``` /app/assets/javascripts/routers/entries_router.js.coffee
class Raffler.Routers.Entries extends Backbone.Router
  routes:
    '': 'index'
    'entries/:id': 'show'
		
  initialize: ->
    @collection = new Raffler.Collections.Entries()
    @collection.fetch()
    
  index: ->
    view = new Raffler.Views.EntriesIndex(collection: @collection)
    $('#container').html(view.render().el)

  show: (id) ->
    alert "Entry #{id}"
```	

<p>In <code>initialize</code> we create a new <code>Entries</code> collection then call <code>fetch</code> on it to get the records from the server. Ideally this would be pre-populated when we visit the page so that we don&rsquo;t have to make a second request to fetch the records but this will work for now. We need to render the entries in the index view and so we need to pass this collection into it when we create it. Thankfully there&rsquo;s a <code>collection</code> option we can use that will do just this. In that view now we&rsquo;ll have access to this collection and we can pass this into the template instead of the placeholder text we&rsquo;ve got now.</p>

``` /app/assets/javascripts/views/entries/entries_index.js.coffee
class Raffler.Views.EntriesIndex extends Backbone.View

  template: JST['entries/index']
  
  render: ->
    $(@el).html(@template(entries: @collection))
    this	  
```	

<p>Now in the template we can loop through these entries and display them in a list. For now, though, we&rsquo;ll just output the length of the collection to make sure that our code it working as we expect.</p>

``` /app/assets/templates/entries/index.jst.eco
<h1>Raffler</h1>

<%= @entries.length %>
```

<p>When we view the page in the browser we don&rsquo;t get the figure we&rsquo;re expecting, however.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/984/original/E323I08.png" width="800" height="280" alt="The entries collection is empty."/>
</div>

<p>For some reason the collection is empty when we render the view. The problem is that when we call <code>fetch</code> on the collection it sends a request to the Rails app to fetch the records but it does this asynchronously. The view is rendered before the records are returned and so the collection is empty. To get around this we can use Backbone events so that we&rsquo;re notified when the collection is loaded and we&rsquo;ll do this inside the index view.</p>

``` /app/assets/javascripts/views/entries/entries_index.js.coffee
class Raffler.Views.EntriesIndex extends Backbone.View

  template: JST['entries/index']
  
  initialize: ->
    @collection.on('reset', @render, this)
  
  render: ->
    $(@el).html(@template(entries: @collection))
    this	  
```	

<p>We do this by overriding the <code>initialize</code> function that is triggered when the view is created. To listen to an event on a collection we call <code>@collection.on</code> and we&rsquo;re listening to the <code>reset</code> event which is triggered when the records have been loaded into the collection. When event fires we want to trigger the <code>render</code> function so that the view is re-rendered and so we pass this as the second argument. We also need to pass <code>this</code> as a third argument which is the context binding for the function as it&rsquo;s called.</p>

<p>When we reload the page now we&rsquo;ll see the correct number of entries listed. If we reload the page repeatedly we&rsquo;ll see that when the page first loads it still shows zero records but that this is quickly replaced with the correct value when the collection is returned back from the server.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/985/original/E323I09.png" width="800" height="280" alt="The collection now contains the entries."/>
</div>

<p>Now we just need to loop through these records and display them in a list.</p>

``` /app/assets/templates/entries/index.jst.eco
<h1>Raffler</h1>

<ul>
<% for entry in @entries.models: %>
  <li><%= entry.get('name') %></li>
<% end %>
</ul>
```

<p>The <code>entries</code> collection isn&rsquo;t a simple array and so we have to call <code>models</code> on it to get an array of models. Note that it&rsquo;s necessary to put a colon at the end of this line in Eco as it doesn&rsquo;t use significant whitespace. In the loop we simply get the <code>name</code> attribute for each entry. When we reload the page now we&rsquo;ll see the list of names.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/986/original/E323I10.png" width="800" height="280" alt="The list of entries rendered out."/>
</div>

<p>The view now has the correct data but it looks fairly ugly. We&rsquo;ll make it look better by adding some CSS.</p>

<div class="imageWrapper">
  <img src="http://asciicasts.com/system/photos/987/original/E323I11.png" width="800" height="488" alt="The page looks better with some CSS applied."/>
</div>

<p>There&rsquo;s still a lot to be done here. We still need a way to add entries and a t randomly select a winner. These are things that we&rsquo;ll tackle in part two of this series  which will be coming soon. In the meantime take some time to read through <a href="http://documentcloud.github.com/backbone/">Backbone&rsquo;s documentation</a>. This is nicely done and Backbone isn&rsquo;t a large framework so it won&rsquo;t take long to read through.</p>